@model MVC3.Models.AllProductInfo

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
@Html.ActionLink("Get All", "GetAll", "ProductVariation")
</p>
<p>
@Html.ActionLink("Get Available", "GetAvailable", "ProductVariation")
</p>
<p>
@Html.ActionLink("Get Deleted", "GetDeleted", "ProductVariation")
</p>
 
<p>
    @Html.ActionLink("Create New", "Create", "ProductVariation")
</p>
<table>
    <tr>
        <th>
            product_variation_id
        </th>
        <th>
            product_id
        </th>
        <th>
            product_name
        </th>
        <th>
            product_brand_id
        </th>
        <th>
            product_brand_name
        </th>
        <th>
            product_cutting_id
        </th>
        <th>
            product_cutting_name
        </th>
        <th>
            product_color_id
        </th>
        <th>
            product_color_name
        </th>
        <th>
            product_type_id
        </th>
        <th>
            product_type_name
        </th>
        <th>
            sex
        </th>
        <th>
            size
        </th>
        <th>
            stock
        </th>
        <th>
            price
        </th>
        <th>
            condition
        </th>
        <th></th>
    </tr>

@for(int i = 0; i < Model.pvList.Count; i++) {//foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].pv_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].product_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.productList[Model.pvList[i].product_id].product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].brand_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.brandList[Model.pvList[i].brand_id].Brand_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].product_cutting_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.cuttingList[Model.pvList[i].product_cutting_id].ProductCutting_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].product_color_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.colorList[Model.pvList[i].product_color_id].ProductColor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].product_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.typeList[Model.pvList[i].product_type_id].ProductType_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.pvList[i].condition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.pvList[i].pv_id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.pvList[i].pv_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.pvList[i].pv_id })
        </td>
    </tr>
}

</table>
